@media only screen and (max-width: 1200px) {
	.header-text-box {
	  width: 100%;
	  padding-left: 2%;
	  padding-right: 2%;
	}

	.row {
	  padding-left: 2%;
	  padding-right: 2%;
	}
}

@media only screen and (max-width: 1023px) {
	html {
		font-size: 18px;
	}

	.section {
	  padding-top: 60px;
	  padding-bottom: 60px;
	}

	.section--feature__header p {
	  width: 80%;
	  margin-left: 10%;
	}

	/* HOW IT WORKS SECTION */
	.content__left {
	  padding-right: 20px;
	}

	.content__left img {
	  max-width: 170px;
	  height: auto;
	}

	.content__right {
		padding-left: 30px;
	}

	.content__right li {
		margin-top: 0;
	  margin-bottom: 50px;
	}

	/* CITIES SECTION */
	.section--cities__content {
	  grid-gap: 23px;
	}

	/* PLANS SECTION */
	.section--plans__content {
		grid-template-columns: repeat(3, 32%);
	  grid-gap: 2%;
	}

	.plan > div:nth-child(2) {
	  padding-left: 15px;
	  padding-right: 15px;
	}

	/* CONTACT SECTION */
	.section--contact__form {
	  padding: 0 8%;
	}

	/* FOOTER */ 
	footer {
		padding: 0 10%;
	}

	footer .links {
	  padding: 30px 0;
	}
}

@media only screen and (max-width: 767px) {
	html {
		font-size: 16px;
	}

	h1 {
	  font-size: 180%;
	}

	h2 {
	  font-size: 150%;
	}

	.header-text-box {
	  width: 100%;
	  padding-left: 5%;
	  padding-right: 5%;
	}

	.row {
	  padding-left: 5%;
	  padding-right: 5%;
	}

	.section {
	  padding-top: 30px;
	  padding-bottom: 30px;
	}

	.header-nav nav {
		display: none;
	}

	/* FEATURE SECTION */
	.section--feature__header {
		margin-bottom: 30px;
	}

	.section--feature__header p {
	  width: 100%;
	  margin-left: 0;
	}

	.section--feature__features {
		grid-template-columns: 1fr;
	}

	/* HOW IT WORKS SECTION */
	.section--how-it-works__header {
	  margin-bottom: 30px;
	}

	.section--how-it-works__content {
		flex-direction: column;
	}

	.content__left {
		width: 100%;
		text-align: center;
		padding-right: 0;
		padding-bottom: 40px;
	}

	.content__right {
		width: 100%;
	}

	.content__right {
		padding-left: 0;
	}

	.content__right li {
	  margin-bottom: 20px;
	}

	.content__right .download-buttons {
	  text-align: center;
	}

	/* CITIES SECTION */
	.section--cities__content {
	  grid-template-columns: 1fr;
	  margin-top: 30px;
	}

	/* REVIEW SECTION */
	.section--review__content {
	  margin-top: 55px;
	  grid-template-columns: 1fr;
	  grid-auto-rows: auto;
	  grid-gap: 65px;
	}

	.section--review__content cite {
		margin-top: 20px;
	}

	/* PLANS SECTION */
	.section--plans__content {
	  grid-template-columns: 1fr;
	  padding-bottom: 60px;
	}

	/* CONTACT SECTION */
	.section--contact__form {
	  grid-template-columns: 1fr;
	  grid-row-gap: 15px;
	}

	.section--contact__form input[type=submit] {
	  grid-column: 1 / 2;
	  width: 30%
	}

	/* FOOTER */
	footer .links {
		height: 115px;
		flex-direction: column;
	}

	footer .links .social-media {
		text-align: right;
	}
}

@media only screen and (max-width: 480px) {

}