/* -------------------- */
/* BASIC SETUP */
/* -------------------- */
:root{
  --main-color: #ea9800;
  --main-color-darker: #c88200;
  --bg-color: #f4f4f4;
  --text-subtle-grey: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* -------------------- */
/* REUSABLE */
/* -------------------- */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.custom-heading {
  text-align: center;
}

.custom-heading::after {
  display: block;
  content: " ";
  width: 95px;
  height: 2px;
  background-color: var(--main-color);
  margin: 20px auto 30px auto;
}

ion-icon.icon-big {
  font-size: 3.5rem;
  margin-bottom: 12px;
  color: var(--main-color);
}

ion-icon.icon-smaller {
  font-size: 1.1rem;
  margin-right: 15px;
  color:  var(--main-color);
}

/* ----- HEADINGS ------*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
  font-size: 240%;
  word-spacing: 5px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

/* ------ LINKS ------- */
a {
  text-decoration: none;
}

/* ------ BUTTONS ------ */
.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn--full {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--main-color-darker);
}

.btn--ghost {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn--ghost:hover,
.btn--ghost:active {
  background-color: var(--main-color);
  color: #fff;
}

/* ------------------- */
/* HEADERS */
/* ------------------- */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
}

.header-nav > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header-nav img {
  height: 100px;
  width: 100px;
}
.header-nav .logo-black { display: none; }

.header-nav nav a:link,
.header-nav nav a:visited {
  margin-left: 35px;
  font-size: 1rem;
  color: #fff;
  padding-bottom: 7px;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.2s;
}

.header-nav nav a:hover,
.header-nav nav a:active {
  border-bottom: 4px solid var(--main-color);
}

.header-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-text-box a:first-of-type {
  margin-right: 15px;
}

/* 2nd version of navbar, when scrolling to bottom */
/* classname for element header */
.sticky-nav {
  z-index: 999; /* on top of everything */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  transition: background-color 0.25s ease-in;
  box-shadow: 0px 2px 2px #E1E1E1;
}
.sticky-nav .row {
  padding-top: 5spx;
}
.sticky-nav .logo { display: none; } /* deactivate primary logo */
.sticky-nav .logo-black {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.sticky-nav nav a:link,
.sticky-nav nav a:visited {
  color: var(--text-subtle-grey);
  /* push bottom orange line to the edge */
  padding-bottom: 14px;
}
.sticky-nav ion-icon[name='menu'] {
  color: var(--text-subtle-grey);
}

/* ------------------- */
/* FEATURE SECTION */
/* ------------------- */

.section--feature {
  color: var(--text-subtle-grey);
  background-color: var(--bg-color);
}

.section--feature__header {
  margin-bottom: 70px;
}

.section--feature__header p {
  line-height: 150%;
  width: 70%;
  margin-left: 15%;
}

.section--feature__features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  justify-content: space-between;
  opacity: 0; /* hide it first, then will show with fade-in animation on viewport */
}
.features__item p {
  margin-top: 15px;
  font-size: 0.9rem;
  line-height: 140%;
}

/* ------------------- */
/* MEAL PHOTOS SECTION */
/* ------------------- */

.meal-section__meals {
  width: 100%;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.meal-section__meals li {
  display: block;
  width: 100%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.7;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}

.meal-photo img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
}

/* ------------------- */
/* HOW IT WORKS SECTION */
/* ------------------- */

.section--how-it-works {
  color: var(--text-subtle-grey);
  background-color: var(--bg-color);
}

.section--how-it-works__header {
  margin-bottom: 60px;
}

.section--how-it-works__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content__left {
  width: 50%;
  text-align: right;
  padding-right: 50px;
}

.content__left img {
  max-width: 200px;
  height: auto;
  opacity: 0; /* hide it first, then will show with fade-in animation on viewport */
}

.content__right {
  width: 50%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  counter-reset: howitworks;
}

.content__right li {
  margin-top: 50px;
  list-style: none;
}

.content__right li::before {
  counter-increment: howitworks;
  content: counter(howitworks);
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
}

.content__right .download-buttons a img {
  height: 47px;
  width: auto;
  margin-right: 15px;
}

/* ------------------- */
/* CITIES SECTION */
/* ------------------- */

.section--cities {
  color: var(--text-subtle-grey);
}

.section--cities__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-top: 60px;
  opacity: 0; /* hide it first, then will show with fade-in animation on viewport */
}

.content__city {
  width: 100%;
}

.city__image {
  width: 100%;
  height: auto;
}

.city__title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.city__feature {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.city__feature a:link,
.city__feature a:visited {
  color: var(--main-color);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--main-color);
  transition: border-bottom 0.3s;
}

.city__feature a:hover,
.city__feature a:active {
  color: var(--main-color-darker);
  border-bottom: 1px solid transparent;
}

/* ------------------- */
/* REVIEW SECTION */
/* ------------------- */

.section--review {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.section--review__content {
  margin-top: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 110%;
  grid-gap: 40px;
  /* text */
  line-height: 150%;
  font-style: italic;
}

.section--review__content blockquote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* for pesudoelement */
  position: relative;
}

.section--review__content blockquote::before {
  content: "\201C";
  position: absolute;
  top: -10px;
  left: -15px;
  font-size: 500%;
}

.section--review__content cite {
  display: block;
  font-size: 90%;
}

.section--review__content cite img {
  height: 45px;
  width: auto;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

/* ------------------- */
/* PLANS SECTION */
/* ------------------- */

.section--plans {
  background-color: var(--bg-color);
  color: var(--text-subtle-grey);
}

.section--plans__content {
  padding: 0 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[3];
  grid-template-columns: repeat(3, 30%);
  grid-gap: 5%;
}

.plan {
  background-color: #fff;
}

.plan > div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan > div:nth-child(2) {
  padding-left: 25px;
  padding-right: 25px;
}

.plan__price {
  margin: 20px 0 10px 0;
  font-size: 3rem;
  font-weight: 200;
  color: var(--main-color-darker);
}

.plan__price span {
  font-size: 1rem;
  font-weight: 300;
}

.plan__notes {
  font-size: 0.8rem;
}

.plan__offers {
  list-style: none;
}

.plan__offers ion-icon {
  font-size: 0.6rem;
  color: var(--main-color-darker);
  margin-right: 15px;
}

.plan__offers li {
  padding: 5px 0;
}

.plan > div:last-child {
  text-align: center;
}

/* ------------------- */
/* CONTACT SECTION */
/* ------------------- */

.section--contact {
  color: var(--text-subtle-grey);
}

.section--contact__content {
  padding: 0 16%;
}

.section--contact__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 20px;
}

.section--contact__form input[type=submit] {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 30%;
}

input[type=text],
input[type=email],
select,
textarea {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: 300;
}

/* ------------------- */
/* FOOTER SECTION */
/* ------------------- */

footer {
  background-color: rgb(51, 51, 51);
  color: #8F8F8F;
  font-size: 0.8rem;
}

footer .nav a {
  color: #8F8F8F;
  display: inline-block;
  margin-right: 15px;
}

footer .nav a:hover, a:active {
  color: #E7E7E7;
}

footer .social-media a {
  color:  #8F8F8F;
  font-size: 1.2rem;
  margin-left: 15px;
}

footer .social-media a:hover, a:active {
  color: #E7E7E7;
}

footer .links {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

footer .copyright {
  text-align: center;
  margin-bottom: 20px;
}

footer .credit {
  text-align: center;
  padding-bottom: 40px;
}

/* ------------------- */
/* ANIMATIONS */
/* ------------------- */

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animation-fade-in {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animation-fade-in-up {
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@keyframes pulse {
  0% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1); }
  100% { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

.animation-pulse {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

