/* -------------------- */
/* BASIC SETUP */
/* -------------------- */
:root{
  --main-color: #ea9800;
  --main-color-darker: #c88200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* -------------------- */
/* REUSABLE */
/* -------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.custom-heading {
  text-align: center;
}

.custom-heading:after {
  display: block;
  content: " ";
  width: 95px;
  height: 2px;
  background-color: var(--main-color);
  margin: 20px auto 30px auto;
}

ion-icon.icon-big {
  font-size: 3.5rem;
  margin-bottom: 12px;
  color: var(--main-color);
}

ion-icon.icon-smaller {
  font-size: 1.1rem;
  margin-right: 15px;
  color:  var(--main-color);
}

/* ----- HEADINGS ------*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
  font-size: 240%;
  word-spacing: 5px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

/* ------ LINKS ------- */
a {
  text-decoration: none;
}

/* ------ BUTTONS ------ */
.btn {
  padding: 10px 30px;
  border-radius: 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--main-color-darker);
}

.btn--ghost:link,
.btn--ghost:visited {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn--ghost:hover,
.btn--ghost:active {
  background-color: var(--main-color);
  color: #fff;
}

/* ------------------- */
/* HEADERS */
/* ------------------- */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header-nav img {
  height: 100%;
  width: 100px;
}

.header-nav nav a:link,
.header-nav nav a:visited {
  margin-left: 35px;
  font-size: 0.9rem;
  color: #fff;
  padding-bottom: 7px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.header-nav nav a:hover,
.header-nav nav a:active {
  border-bottom: 2px solid var(--main-color);
}

.header-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-text-box a:first-of-type {
  margin-right: 15px;
}

/* ------------------- */
/* FEATURE SECTION */
/* ------------------- */

.section--feature {
  color: #555;
  background-color: #f4f4f4;
}

.section--feature__header {
  max-width: 70%; 
  margin-bottom: 70px;
}

.section--feature__header p {
  line-height: 150%;
}

.section--feature__features {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-between;
}
.features__item p {
  margin-top: 15px;
  font-size: 0.9rem;
  line-height: 140%;
}

/* ------------------- */
/* MEAL PHOTOS SECTION */
/* ------------------- */

.meal-section__meals {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.meal-section__meals li {
  display: block;
  width: 100%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.15);
  opacity: 0.7;
  transition: transform 0.2s, opacity 0.2s;
}

.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/* ------------------- */
/* HOW IT WORKS SECTION */
/* ------------------- */

.section--how-it-works {
  color: #555;
  background-color: #f4f4f4;
}

.section--how-it-works__header {
  margin-bottom: 60px;
}

.section--how-it-works__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content__left {
  width: 50%;
  text-align: right;
  padding-right: 50px;
}

.content__left img {
  max-height: 400px;
  width: auto;
}

.content__right {
  width: 50%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  counter-reset: howitworks;
}

.content__right li {
  margin-top: 50px;
  list-style: none;
}

.content__right li:before {
  counter-increment: howitworks;
  content: counter(howitworks);
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 120%;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
}

.content__right .download-buttons a img {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

/* ------------------- */
/* CITIES SECTION */
/* ------------------- */

.section--cities {
  color: #555;
}

.section--cities__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-top: 60px;
}

.content__city {
  width: 100%;
}

.city__image {
  width: 100%;
  height: auto;
}

.city__title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.city__feature {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.city__feature a:link,
.city__feature a:visited {
  color: var(--main-color);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--main-color);
  transition: border-bottom 0.3s;
}

.city__feature a:hover,
.city__feature a:active {
  color: var(--main-color-darker);
  border-bottom: 1px solid transparent;
}